<mat-card>
    <mat-card-title>Change Password</mat-card-title>
    <mat-card-content>
        <form [formGroup]="frm" (ngSubmit)="onPost(formGroupDirective)" #formGroupDirective="ngForm">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Current Password </mat-label>
                <input matInput type="password" formControlName="currentPassword" [errorStateMatcher]="matcher"/>
                <mat-error *ngIf="f['currentPassword'].errors?.['required']">
                  Current Password is required
                </mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="fill">
                <mat-label>New Password </mat-label>
                <input matInput type="password" formControlName="newPassword" [errorStateMatcher]="matcher" />
                 (eg. Xyz@12)
                <mat-error *ngIf="f['newPassword'].errors?.['required']">
                    New Password is required
                </mat-error>
                <mat-error *ngIf="f['newPassword'].errors?.['invalidPattern']">
                    Password should be atleast 6 character long, contains atleas 1 uppercase,1 lowercase,1 number,1 alphnumeric character
                </mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="fill">
                <mat-label>Confirm password </mat-label>
                <input matInput type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher"/>
                <mat-error *ngIf="f['confirmPassword'].errors?.['required']">
                    Confirm New Password is required
                </mat-error>
                <mat-error *ngIf="f['confirmPassword'].errors?.['mustMatch']">Passwords must match</mat-error>
            </mat-form-field>
        </p>
        
        <p *ngIf="status!=null" class="text-danger">
            {{status.message}}
        </p>

        <p>
            <button mat-raised-button color="primary" [disabled]="frm.invalid">Update </button>
        </p>
    </form>
    </mat-card-content>
</mat-card>