<mat-card>
  <mat-card-title>
    Blog Categories(isko center me laga)
  </mat-card-title>
  <mat-card-content>

<button mat-raised-button color="primary" routerLink="/add-category">Add more</button>
<table mat-table [dataSource]="blogCategories" class="mat-elevation-z8">

      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let category"> {{category.categoryName}} </td>
      </ng-container>


      <ng-container matColumnDef="parentCategoryName">
        <th mat-header-cell *matHeaderCellDef> Parent Category </th>
        <td mat-cell *matCellDef="let category"> {{category.parentCategoryName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</mat-card-content>
</mat-card>