<!-- <div style="width: 50%;margin-left: 5%;">
  <div class="row r">
      <div class="col-md-12"><h2>Blog Categories</h2></div>
  </div>
  <div class="row r">
      <div class="col-md-12"><button type="button" class="btn btn-info" routerLink="/add-category"> Add more </button></div>
  </div>
  <div class="row r">
      <div class="col-md-12">
          
      </div>
  </div>
</div> -->
<ag-grid-angular
  style="width: 700px; height: 500px;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="colDefs"  [pagination]="true" [paginationPageSize]="5"
  [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
>
</ag-grid-angular>