<div >
<mat-card >
    <mat-card-title>
         Login
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]='loginForm' (ngSubmit)="onPost(formDirective)" #formDirective="ngForm">
      <p>
      <!--username-->
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input type="text" matInput placeholder="username" formControlName="username" [errorStateMatcher]="matcher">
        <mat-error *ngIf="f.username.errors?.['required']">
           Username is required.
        </mat-error>
      </mat-form-field>
     </p>

     <p>
      <!--password-->
      <mat-form-field>
       <mat-label>Password</mat-label>
       <input type="password" matInput placeholder="password" formControlName="password" [errorStateMatcher]="matcher">
       <mat-error *ngIf="f.password.errors?.['required']">
         Password is required
       </mat-error>
      </mat-form-field>
     </p>

    <!--message-->
     <p *ngIf="status!=null">
      <span [ngClass]="{'error':status.statusCode==0}"> {{status.message}} </span>
    </p>
    <div class="button">
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Save</button>
    </div>
    </form>
</mat-card-content>
</mat-card>
</div>